{% for reply in comment.replies.all %}
    <div class="pt-3 w-full">
        <p><strong>{{ reply.user.username }}</strong>: 
            {% with reply.content as content %}
                {% for word in content.split %}
                    {% if word|slice:":1" == "@" %}
                        <span class="text-red-600">{{ word }}</span>
                    {% else %}
                        {{ word }}
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </p>

        {% comment %} <a href="{% url 'groups:add_comment_reply' group_post.id reply.id %}">Reply</a> {% endcomment %}
        <a href="{% url 'groups:add_comment_reply' post.id comment.id %}">Reply</a>

        {% if reply.user == request.user %}
            | <a href="{% url 'groups:delete_comment' reply.id %}">Delete</a>
        {% endif %}

        {% include 'groups/comment_replies.html' with comment=reply %}
    </div>
{% endfor %}