{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<div class="max-w-3xl mx-auto p-6 bg-white shadow-md">
    <h1 class="text-xl font-semibold mb-4">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }} <span class="font-medium">@{{ user_profile.user.username  }}</span></h1>

    <!-- Display Profile Image -->
    {% if user_profile.profile_image %}
        <div class="mt-4">
            <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" class="object-cover border w-[270px] h-[270px] mt-2">
        </div>
    {% else %}
        <p class="text-gray-600">No profile image uploaded.</p>
    {% endif %}

    <!-- Display other user details -->
    <div class="mt-4 space-y-2 text-lg">
        
        <p><strong>Username:</strong> {{ user_profile.user.username }}</p>
        
        
        
        <div class="bio">
            {% if user_profile.bio_html %}

            {{ user_profile.bio_html|safe }}
            
            {% endif %}
        </div>
        
     
    </div>

    <!-- Show Edit Link if User is the Account Owner -->
    {% if user_profile.user == request.user %}
        <div class="mt-4">
            <a href="{% url 'profile_edit' username=user_profile.user.username  %}" class="px-2 py-1 border">Edit Profile</a>
        </div>
    {% endif %}
</div>
{% endblock content %}
