{% extends "base.html" %}

{% block content %}
<div class="mx-auto p-4 bg-white shadow-lg space-y-3">
    {% comment %} <h2 class="text-xl text-gray-800 mb-2">
        <span>Our Services :</span> 
    </h2> {% endcomment %}
    <ul class="space-y-4 text-gray-700">
        <li>
            <a href="mailto:onignou.in@gmail.com?subject=I am interested in buying the solved assignment (PDF)" class="active:underline">
                Buy Solved Assignment (PDF)  <i class="bi bi-filetype-pdf relative top-[1px] left-[2px] text-red-600"></i>
                <span class="pl-1"> (50% off your first purchase)</span>
            </a>
        </li>
        <li>
            <a href="https://egyankosh.ac.in/handle/123456789/1" target="_blank" class="active:underline">
                Study Materials (Free Link) <i class="bi bi-book relative top-[1px] left-[2px]"></i>
            </a>
        </li>
        <li>
            <a href="mailto:onignou.in@gmail.com?subject=I am interested in online tutoring and doubt-solving sessions" class="active:underline">
                Online Tutoring and Doubt-Solving Sessions <i class="bi bi-globe relative top-[1px] left-[2px]"></i>
            </a>
        </li>
        <li>
            <a href="mailto:onignou.in@gmail.com?subject=I would like to know more about career guidance and counseling sessions" class="active:underline">
                Career Guidance and Counseling Sessions <i class="bi bi-person relative top-[1px] left-[2px]"></i>
            </a>
        </li>
        <li>
            <a href="mailto:onignou.in@gmail.com?subject=I need help with the registration process" class="active:underline">
                Help with Registration <i class="bi bi-person-check-fill relative top-[1px] left-[2px]"></i>
            </a>
        </li>
        <li>
            <a href="mailto:onignou.in@gmail.com?subject=I need assistance with the admission process" class="active:underline">
                Help with Admission <i class="bi bi-person-plus relative top-[1px] left-[2px]"></i>
            </a>
        </li>
        <li>
            <a href="mailto:onignou.in@gmail.com?subject=I require help with re-registration" class="active:underline">
                Help with Re-registration <i class="bi bi-recycle relative top-[1px] left-[2px]"></i>
            </a>
        </li>
        <li>
            <a href="mailto:onignou.in@gmail.com?subject=I have a custom request or inquiry regarding IGNOU" class="active:underline">
                Custom Request or Inquiry Regarding IGNOU <i class="bi bi-chat relative top-[1px] left-[2px]"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'donate_page' %}" class="active:underline">
                Send a Donation <i class="bi bi-currency-rupee relative top-[1px] left-[2px]"></i>
            </a>
        </li>
    </ul>
    
    
</div>
{% endblock content %}
